* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Norse";
  src: url(./fonts/Norse-Bold.otf);
}

body {
  display: flex;
  align-items: stretch;
  font-family: "Roboto";
  font-size: 16px;
}

.image {
  flex: 0 1 30%;
  min-width: 300px;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  position: relative;
}

.bg-credit {
  color: rgba(255, 255, 255, 0.664);
  position: absolute;
  bottom: 5px;
  left: 10px;
}

img {
  width: 80px;
}
.logo {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.logo h1 {
  font-size: 5rem;
  color: white;
  font-family: "Norse";
}

.form {
  background: rgb(245, 250, 255);
  flex: 0 1 70%;
  min-width: 700px;
}

.description:first-child {
  margin-top: 180px;
}

.description {
  padding-left: 50px;
  margin-bottom: 30px;
  font-weight: 600;
  margin-right: min(200px, 20%);
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.info {
  padding: 50px;
  padding-top: 70px;
  background-color: white;
  display: flex;
  column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding-right: min(150px, 20%);
  position: relative;
  border: none;
  box-shadow: 10px 0 5px #c9c9c9;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 50px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
}

input:focus {
  outline: none;
  border: 1px solid rgb(20, 110, 245);
  box-shadow: 1px 1px 2px rgb(138, 134, 177);
}

input:invalid {
  border: 1px solid red;
}

button {
  margin: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #596d48;
  color: white;
  font-size: 1.2rem;
}

.login {
  padding-left: 50px;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #596d48;
}
